*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.container{
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: 35px 1fr 60px;
    row-gap: 70px;
    column-gap: 50px;
}
header{
    position: sticky;
    top:0px !important;
}

.AboutHeader{
    text-align: center;
    border-bottom: 2px solid orange;
    width: 200px;
    margin: 30px auto auto;
    
}
.AboutDetails p{

    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    grid-column: 1 / span 3;
}
.footer{
    position: sticky;
    bottom:0px !important;
}

/*
@media screen and (max-width:750px) {
    .Aboutsection{
        
    }
  
  
}
@media screen and (max-width:650px) {
    
  
}
@media screen and (max-width:450px) {
   .AboutDetails p{
      font-size: 13px;
    
   }
   
    

  
   
}
@media screen and (max-width:400px) {
  .AboutDetails{
    padding: 0px;
    margin: 0px;
  }
   
}
@media screen and (max-width:325px) {
    .Aboutsection{
        margin-top: 0px !important;
    }
    .AboutDetails{
      padding: 0px;
      margin: 0px 20px 20px;
    }
     
  }
@media screen and (max-width:250px) {
    .Aboutsection{
        top:0px;
    }
    .Aboutsection h1{
        font-size: 23px;
    }
    .Aboutsection p{
        font-size: 10px;
    
    }
    .AboutHeader{
        
        width:150px;
        text-align: center;
       
      
    }
   
}