*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

    
}
header{
    position: sticky;
}

    
.overflow{
    z-index: -1;
    opacity:0.7;
    height:80.6% !important;
}
    
   .navnaR{
    font-family: 'Libre Franklin', sans-serif;

    font-family: 'PT Serif', serif;

    font-family: 'Rubik Vinyl', cursive;

    font-family: 'Ubuntu', sans-serif;

   }
    
 

.container{
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../img/pic 13.JPG");
    background-position: center;
    background-size: cover;
    

    
}
.emailpass{
    display: flex;
    
}
.fatherinfo{
    display: flex;
}
.motherInfo{
    display: flex;
}
.Ginfo{
    display: flex;
    flex-direction: column;
    
}

.idPass{
    display: flex;
    margin: 35px 0px 0px 40px;
    
    
}
.idPass .idNo{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 60px;
}

.idPass .idNo .input{
    margin-top: 10px !important;
}
.namemobile{
    display: flex;
}
.departBatch{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.dep{
    padding: 10px;
    width:187px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    
    
}
.form{
    display: flex;
    flex-direction: column;
    padding:30px 50px 50px;
 justify-content: center;
 align-items: center;
 background-color:darkslategray;
   text-align: center;
   border-radius: 10px;
   margin:80px 100px 100px;
   
   color: white;
 z-index: 7;
   font-family: 'Playfair Display', serif;
   font-family: 'PT Serif', serif;
   font-family: 'Rubik Vinyl', cursive;
   font-family: 'Ubuntu', sans-serif;
 
  


}

.navList .dropdowN {
    position: absolute;
    top:170px !important;
  display: none;
    color: black;
    width: 160px;
    margin-left: -10px;

}
input{
    padding:10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}
.Input{
    width: 400px;
}
.upload{
    width: 100px;
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
    
  }
  
  .upload img{
    border-radius: 50%;
    border: 6px solid #eaeaea;
    margin-top: -10px;
  }
  
  .upload .round{
    position: absolute;
    top:60px;
    right: 30px;
    background: #0287b3;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .upload .round input[type = "file"]{
    position: absolute;
    
    opacity: 0;
  }
  
  input[type=file]::-webkit-file-upload-button{
      cursor: pointer;
  }
.save{
    padding: 10px;
}
.logIn{
    padding:10px;
    text-decoration: none;
}
.profile{
    display: flex;
    flex-direction: column;
}
.Upload{
    margin-top: 0px;
}

.footer{
    position:sticky !important;
    bottom: 0px !important;
}

    
    

.address {
    
 display: flex;
 
    
}
.address textarea{

    
    border-radius: 5px;
    margin:10px 12px 7px  12px;
    padding: 12px;
    
    border: none;

    

}
.buttons{
    padding: 10px;
    margin: 5px;
    
    text-align: center;
    border:none;
    
}
.buttons .save{
    padding:10px;
    border: none;
    background-color: aliceblue;
    border-radius: 5px;
    font-weight: bold;
    font-weight: normal;
}
.buttons .logIn{
    padding:10px;
    color: black;
    border: none;
    background-color:aliceblue ;
    border-radius: 5px;
    
}/*
.footer{
    position: fixed;
    bottom: 0px;
    z-index: 1;
}
*/
@media screen and (max-width:700px) {
    .footer{
        position: relative;
    }
    
}
@media screen and (max-width:565px){
    

    
    .departBatch{
        flex-direction: column;
    }
    .emailpass{
        display: flex;
        flex-direction: column;
        
    }
    .fatherinfo{
        display: flex;
        flex-direction: column;
    }
    .motherInfo{
        display: flex;
        flex-direction: column;
    }
    .Ginfo{
        display: flex;
        flex-direction: column;
    }
    .upload{
        text-align: center;
    }
    .idPass{
        display: flex;
        margin: 0px 0px 0px 0px;
        flex-direction: column;
        
    }
    .idPass .idNo{
        margin-left: 0px;
    }
    .namemobile{
        display: flex;
        flex-direction: column;
    }
    .address{
        flex-direction: column;
    }
    .upload{
        margin-left: 65px;
        bottom:0px;
    }
    .upload img{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .Input{
        width: 165px;
    }
   
    
}
@media screen and (max-width:360px){
    .form{
        padding: 20px;
    }
    
}
@media screen and (max-width:250px){
    .container{
        margin:5px;
    }
    .form{
        padding: 2px;
    }
    input{
        width:90px;
    }
    .dep{
        width: 90px;
    }
    .upload{
        margin-left: 20px;
    }
    .address textarea{
        
        text-align: center;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    
}