*{
    margin:0px;
    padding:0px;
}
h2{
    display: flex;
    justify-content: center;
    margin: 20px auto auto !important;
    border-bottom: 2px solid orange;
    width:200px;
    font-size: 35px;
 
   
}

.dropDowN p{
    margin-top: 0px;
}
.notice{
    text-align: justify;
}

.notice a{
    
    color:black;
    font-size: 20px;
}
@media screen and (max-width:500px){
    .navbaR .menuBar{
        left:90% !important;
    }
    
}